body {
  width: 600px;
  margin: 0 auto;
}

.container {
  position: relative;
  margin-top: 150px;
  border: 3px solid rgb(253, 222, 222);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(236, 198, 198);
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.change-img {
  position: absolute;
  left: 30px;
  top: 150px;
}

img {
  width: 500px;
  height: 400px;
  position: absolute;
  left: 30px;
  top: 200px;
  border-radius: 20px;
}

#clock {
  position: absolute;
  top: 10px;
}

#login-form {
  margin-bottom: 20px;
  position: absolute;
  top: 200px;
}

#greeting {
  position: absolute;
  top: 160px;
}

#login-form input:first-child {
  font-size: 18px;
  padding: 5px;
  width: 150px;
  border: none;
  border-bottom: 1px solid black;
}

#todo-form {
  position: absolute;
  top: 250px;
}

#todo-form input {
  padding: 5px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid black;
}

.btn {
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

#todo-list {
  position: absolute;
  top: 280px;
  left: 150px;
  max-height: 200px;
  max-width: 250px;
  overflow-y: scroll;
}

#todo-list::-webkit-scrollbar {
  display: none;
}

#todo-list > li {
  margin-bottom: 10px;
}

#todo-list > li > button {
  margin-left: 10px;
  border: none;
  background: none;
}

.mode-change {
  position: fixed;
  right: 30px;
  top: 30px;
}

.day {
  background-color: rgb(255, 255, 255);
  color: black;
}

.night {
  background-color: black;
  color: white;
}
